{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Sign Up - FightVault" %}{% endblock head_title %}

{% block content %}
<div class="login-logout-signup-page-container">
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h3 class="text-center text-uppercase font-weight-bold mb-4">
              {% trans "Sign Up for FightVault" %}<i class="fa-duotone fa-boxing-glove"></i>
            </h3>
            <p class="text-center">
              {% blocktrans %}
              Join FightVault<i class="fa-duotone fa-boxing-glove"></i> to stay updated with the latest MMA and combat
              sports news <i class="fa-solid fa-octagon"></i>
              Already have an account? Please <a class="link" href="{{ login_url }}">{{ _('sign in') }}</a> instead.
            </p>
            {% endblocktrans %}
            <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
              {% csrf_token %}
              {{ form.as_p }}
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
              <button class="btn btn-primary w-100 mt-3" type="submit">
                {% trans "Sign Up" %} &raquo;
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
