{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block content %}
<div class="login-logout-signup-page-container">
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-8 mt-3 offset-md-2">
        <h3 class="text-center text-uppercase font-weight-bold">{% trans "Sign Up" %}</h3>

        <p class="text-center">
          {% blocktrans %}
          Join FightVault<i class="fa-duotone fa-boxing-glove"></i> to stay updated with the latest MMA and combat sports
          news.
          Already have an account? Please <a class="link" href="{{ login_url }}">sign in</a> instead.
          {% endblocktrans %}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 mt-3 offset-md-2">
        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button class="btn btn-primary btn-block mt-3" type="submit">
            {% trans "Sign Up" %} &raquo;
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}