/* General styles */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/* Footer */
.footer {
    background-color: #0a0a0b;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

.footer a {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 1;
}

.footer a .fa-icon {
    font-size: 24px;
    vertical-align: middle;
    margin-right: 10px;
}

main {
    flex: 1; /* Ensure main content takes up the remaining space */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    margin-top: 0;
}

/* Navigation Bar Styles */
.navbar {
    padding-left: 20px; /* Add left padding */
    padding-right: 20px; /* Add right padding */
}

/* Logo Styles */
.navbar-brand .brand-logo {
    font-size: 26px; /* Adjust the size as needed */
    letter-spacing: 1px; /* Adds space between characters */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    font-weight: 600; /* Makes the text thicker */
}

/* Navigation Link Styles */
.navbar-nav .nav-link {
    font-size: 18px; /* Increases the font size of the nav links */
}

/* Styles for article titles */
.post-title-link {
    color: #000000; /* Change the default color to black */
    text-decoration: none; /* Remove underline from links */
}

.post-title-link:hover {
    color: red; /* Change to red on hover */
}

.post-title-link:visited {
    color: rgb(59, 59, 237); /* Change to blue when visited */
}

.post-title-link:visited:hover {
    color: red; /* Change to red on hover, even if visited */
}

/* Custom styles for pagination buttons */
.pagination .page-link {
    background-color: #282c31;
    color: white;
}

.pagination .page-link:hover {
    background-color: red;
}

/* Custom styles for contact page */
.container {
    margin-top: 20px;
}

.contact-page-background {
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-page-container {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    z-index: 1;
}

button.btn.btn-primary {
    margin-bottom: 20px;
    background-color: #282c31;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button.btn.btn-primary:hover {
    background-color: red;
}

.form-wrapper {
    position: relative;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Ratings section styles */
.ratings-section {
    margin-top: 20px;
}

.average-rating {
    color: #ffffff;
    font-weight: bolder;
    background-color: black;
    padding: 5px 10px;
    display: inline-block;
    border-radius: 5px;
    margin-top: 10px;
}

.rating-score {
    font-weight: bold;
}

.rating-date {
    color: #bbc8d3;
}

.rating-author {
    color: #5dabe2;
    font-style: italic;
}

/*  Star Ratings Styles (Customised to Gloves)  */
.glove-rating {
    direction: rtl;
    unicode-bidi: bidi-override;
    display: inline-block;
}

.glove-rating input {
    display: none; /* Hide the radio buttons */
}

.glove-rating input {
    display: none;
}

.glove-rating label {
    cursor: pointer;
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url('/static/images/boxing-glove.svg') no-repeat center center;
    background-size: contain;
}

.glove-rating input:checked ~ label,
.glove-rating label:hover,
.glove-rating label:hover ~ label {
    filter: grayscale(100%) brightness(0); /* Change color to black */
}

.btn-submit-rating {
    border-radius: 8px;
    padding: 5px 10px;
    font-size: 14px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Voting section styles */
.current-votes {
    margin-bottom: 30px;
}

.voting-heading {
    margin-bottom: 20px;
}

.submit-vote {
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 8px;
    margin-top: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Comments section styles */
.comment-author {
    color: #bbc8d3;
}

.comment-approval {
    color: red;
}

.comment-text {
    font-weight: bold;
}

.posting-as {
    font-weight: bold;
}

.btn-submit-comment {
    background-color: #000000; /* Black background */
    color: #ffffff; /* White text */
    border-radius: 8px; /* Rounded edges */
    padding: 8px 16px; 
    font-size: 14px;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.btn-submit-comment:hover {
    background-color: red; /* red background on hover */
    color: #ffffff; /* White text */
}

.center-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Custom styles for about page */
.about-page-container {
    position: relative;
    z-index: 1;
}

.image-container {
    margin-bottom: 30px; /* Add space below the image container */
}

/* Media query for mobile view */
@media (max-width: 768px) {
    .default-about-image {
        display: none;
    }
}
 
    .image-container img {
        max-width: 100%;
        margin: 0 auto;
    }
    
    .col-md-8 {
        margin-top: 20px;
    }

/* Styles for login,logout and signup pages*/
.login-logout-signup-page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full viewport height */
    background-color: #f0f2f5;
}

/* Styles for the personalized greeting messages in the main content section */
.alert {
    border-radius: 10px;
    padding: 15px;
    margin-top: 10px;
}

/* Success alert style for authenticated users */
.alert-success {
    background-color: #282c31; /* Changed to match site's theme */
    color: white; /* Text color for better contrast */
}

/* Warning alert style for unauthenticated users */
.alert-warning {
    background-color: rgb(248, 249, 250); /* Changed to rgb(248, 249, 250) for unauthenticated users */
    color: #282c31; /* Text color for better contrast */
    border: 1px solid #ccc; /* Add a border for better visibility */
}

/* Sidebar styles */
.side-menu {
    height: 100%; /* Full height */
    width: 0; /* Initial width set to 0 */
    position: fixed; /* Fixed position */
    z-index: 1050; /* Stay on top */
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9); /* Black background with opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the side menu */
    padding-top: 60px; /* Place content 60px from the top */
}

.side-menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white; /* Set text color to white */
    display: block;
    transition: 0.3s;
}

.side-menu a:hover {
    color: #f1f1f1;
}

.side-menu .closebtn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand .brand-logo {
    font-size: 26px; /* Adjust the size as needed */
    letter-spacing: 1px; /* Adds space between characters */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    font-weight: 600; /* Makes the text thicker */
}

.navbar-toggler {
    border: none;
    background-color: transparent;
}

/* Add margin to content when the sidebar is open */
body.open-sidebar {
    overflow: hidden; /* Prevent scrolling when sidebar is open */
}


/* Small */
@media screen and (max-width: 480px) {
    .navbar-brand .brand-logo {
        font-size: 20px; /* Smaller font size for mobile devices */
    }
    text.site-description {
        display: none;
    }
}

/* Medium */
@media (min-width: 481px) and (max-width: 1400px) {
    .navbar-brand .brand-logo {
        font-size: 24px; /* Medium font size for tablets */
    }
    .site-description {
        display: none;
    }
}

/* Large */
@media (min-width: 1401px) and (max-width: 1600px) {
    .navbar-brand .brand-logo {
        font-size: 26px;
    }
}

/* Extra Large */
@media screen and (min-width: 1601px) {
    .navbar-brand .brand-logo {
        font-size: 28px; /* Larger font size for very large screens */
}
}