{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <!-- Post title -->
            <h1>{{ post.title }}</h1>
            <!-- Post author and creation date -->
            <p>By {{ post.author }} | {{ post.created_on }}</p>
            <!-- Post image -->
            <div class="post-image mb-3">
                {% if post.image %}
                    <!-- Display the post image if it exists -->
                    <img src="{{ post.image.url }}" class="img-fluid" alt="Image for {{ post.title }}">
                {% else %}
                    <!-- Display a default image or message if the post has no image -->
                    <img src="{% static 'images/default.jpg' %}" class="img-fluid" alt="Default image for {{ post.title }}">
                {% endif %}
            </div>
            <!-- Post content -->
            <div class="post-content">
                {{ post.content|safe }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
