{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container mt-4 about-page-container">
    <div class="row">
        <!-- Left column for image -->
        <div class="col-md-4 image-container">
            <!-- Images for About page with responsive design -->
            <img src="{% static 'images/fightvault-image-150w.webp' %}" srcset="{% static 'images/fightvault-image-150w.webp' %} 150w,
                 {% static 'images/fightvault-image-300w.webp' %} 300w,
                 {% static 'images/fightvault-image-600w.webp' %} 600w,
                 {% static 'images/fightvault-image-800w.webp' %} 800w"
                 sizes="(max-width: 600px) 100vw, 
                        (max-width: 1200px) 50vw, 
                        33vw"
                 class="img-fluid mb-3 fightvault-logo" alt="FightVault Image">

            {% if about.image %}
            <img src="{{ about.image.url }}-150w.webp" srcset="{{ about.image.url }}-150w.webp 150w,
                 {{ about.image.url }}-300w.webp 300w,
                 {{ about.image.url }}-600w.webp 600w,
                 {{ about.image.url }}-800w.webp 800w"
                 sizes="(max-width: 600px) 100vw, 
                        (max-width: 1200px) 50vw, 
                        33vw"
                 class="img-fluid about-image" alt="{{ about.title }}">
            {% else %}
            <img src="{% static 'images/default-about-150w.webp' %}" srcset="{% static 'images/default-about-150w.webp' %} 150w,
                 {% static 'images/default-about-300w.webp' %} 300w,
                 {% static 'images/default-about-600w.webp' %} 600w,
                 {% static 'images/default-about-800w.webp' %} 800w"
                 sizes="(max-width: 600px) 100vw, 
                        (max-width: 1200px) 50vw, 
                        33vw"
                 class="img-fluid about-image default-about-image" alt="Gloves, pads and blackbelt">
            {% endif %}
        </div>

        <!-- Right column for content -->
        <div class="col-md-8">
            <h1>{{ about.title }}<i class="fa-duotone fa-boxing-glove"></i></h1>
            <div class="mission-section">
                <h2>Our Mission</h2>
                <p>{{ about.mission }}</p>
            </div>
            <div class="values-section">
                <h2>Our Values</h2>
                <p>{{ about.values }}</p>
            </div>
            <div class="goals-section">
                <h2>Our Goals</h2>
                <p>{{ about.goals }}</p>
            </div>
            <p class="text-muted">Last updated: {{ about.updated_on }}</p>
        </div>
    </div>
</div>

{% endblock %}
