{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container mt-4">
    <div class="row">
        <!-- Left column for image -->
        <div class="col-md-4 image-container">
            <!-- New image added above the existing image -->
            <img src="{% static 'images/fightvault-image.webp' %}" class="img-fluid mb-3" alt="FightVault Image">

            {% if about.image %}
            <img src="{{ about.image.url }}" class="img-fluid about-image" alt="{{ about.title }}">
            {% else %}
            <img src="{% static 'images/default-about.jpg' %}" class="img-fluid about-image" alt="About FightVault">
            {% endif %}
        </div>

        <!-- Right column for content -->
        <div class="col-md-8">
            <h1>{{ about.title }}<i class="fa-duotone fa-boxing-glove"></i></h1>
            <div class="mission-section">
                <h2>Our Mission</h2>
                <p>{{ about.mission }}</p>
            </div>
            <div class="values-section">
                <h2>Our Values</h2>
                <p>{{ about.values }}</p>
            </div>
            <div class="goals-section">
                <h2>Our Goals</h2>
                <p>{{ about.goals }}</p>
            </div>
            <p class="text-muted">Last updated: {{ about.updated_on }}</p>
        </div>
    </div>
</div>

{% endblock %}