/* General styles */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    margin-top: 0;
}

/* Navigation Bar Styles */
.navbar {
    padding-left: 20px; /* Add left padding */
    padding-right: 20px; /* Add right padding */
}

/* Logo Styles */
.navbar-brand .brand-logo {
    font-size: 26px; /* Adjust the size as needed */
    letter-spacing: 1px; /* Adds space between characters */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    font-weight: 600; /* Makes the text thicker */
}

/* Navigation Link Styles */
.navbar-nav .nav-link {
    font-size: 18px; /* Increases the font size of the nav links */
}

/* Custom styles for pagination buttons */
.pagination .page-link {
    background-color: black; /* Set background color to black */
    color: white; /* Set text color to white */
}

.pagination .page-link:hover {
    background-color: red; /* Change background color to red on hover */
}
/* Custom styles for contact page */
.container {
    margin-top: 20px;
}

button.btn.btn-primary {
    margin-bottom: 20px;
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button.btn.btn-primary:hover {
    background-color: red;
}

/* Default size for mobile devices */
.navbar-brand .brand-logo {
    font-size: 20px; /* Smaller font size for mobile devices */
}

/* Medium size for tablets */
@media (min-width: 768px) {
    .navbar-brand .brand-logo {
        font-size: 24px; /* Medium font size for tablets */
    }
}

/* Larger size for desktops */
@media (min-width: 992px) {
    .navbar-brand .brand-logo {
        font-size: 26px; /* Larger font size for desktop screens */
    }
}